name: plebshub_ui
description: PlebsHub Design System - Custom pixel-perfect widgets
version: 0.1.0
publish_to: none

environment:
  sdk: ^3.5.0
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
